<a id="light_indicator" class="off" title="OctoLight" data-bind="click: function() { loginState.isUser() && $root.light_toggle(); }" style="font-size: 1.3em; text-shadow: 0px 0px 2px #000; cursor: pointer; user-select: none">&#x1F4A1;</a>
